.favorite__page {
  margin-top: 80px;
  .favorite__page_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &_message {
      p {
        margin-top: 50px;
      }
    }
  }
}
