// Переменные для часто используемых значений
$footer-margin-top: 150px;
$text-color: var(--text-color);
$gray-color: var(--color-gray);
$font-size: 14px;
$font-weight: 600;
$margin-top: 8px;
$margin-bottom: 10px;

footer {
  position: relative;
  width: 100%;
  margin: 80px auto;
  overflow: hidden;

  img {
    z-index: -1;
    left: 0;
  }
}

.info {
  display: flex;
  justify-content: space-between;

  .catalog {
    p {
      color: $text-color;
    }
  }

  .catalog,
  .links,
  .contacts {
    li {
      margin-top: $margin-top;
      cursor: pointer;
      color: $gray-color;
      font-weight: $font-weight;
      font-size: $font-size;
    }

    p {
      margin-bottom: $margin-bottom;
      color: $gray-color;
    }
  }
}

@media (max-width: 450px) {
  .footer {
    width: 100%;
    .info {
      width: 100%;
      flex-direction: column;
      .catalog,
      .links,
      .contacts {
        margin-top: 30px;
      }
    }
  }
}
